*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .2s ease-in-out; 
   }
   ul {
   list-style: none;
   }
   a {
   text-decoration: none;
   outline: none;
   }
   img {
   display: block;
   width: 100%;
   }
   .wrapper{
      min-height: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
   }
   .paige{
      flex: 1 1 auto;
   }

   header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
   content: "";
   display: table;
   clear: both;
   } 
   [class*="__container"]{
      max-width: 1900px;
      margin: 0 auto;

   }
   @media (max-width: 1930px){
      [class*="__container"] {
         max-width: 1600px;
      }
   }
   @media (max-width: 991px){
      [class*="__container"] {
         max-width: 750px;
      }
   }
   @media (max-width: 768px){
      [class*="__container"] {
         max-width: none;
         padding: 0px 15px;
      }
   }
   .header {
      background-color: #1F2235;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
   }
   .header__container {
     display: flex;
     min-height: 50px;
     align-items: center;
     padding: 10px 0px;
     justify-content: end;
     gap: 10px;
     padding-right: 100px;
    }
    @media(max-width:768px){
      .header__container{
         min-height: 0;
         flex-direction: column;
      }
    }
   .header__menu { }
   .menu { }
   .menu__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      row-gap: 5px;
    }
    @media (max-width: 768px) {
      .menu__list{
         justify-content: center;
      }
    }

   .menu__link {
      font-family: Outfit, sans serif;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      font-style: normal;
      color: #FFFFFF;
    }
    .menu__link:hover{
      color: #FE461C ;
    }
   .header__button {
      font-family: Outfit, sans serif;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      font-style: normal;
      color: #FFFFFF;
      background-color: #FE461C;
      /* width: 152px; */
      height: 50px;
      padding-left: 29px;
      padding-right: 29px;
      border-radius: 4px;
      border: none;
      margin-left: 30px;
    }

    /* -------------------------------------- */

    .paige {
      position: relative;

     }
    .paige__main {
      
     }
    .main-block {
      background-color: #1F2235;
      width: 100%; }
    .main-block__container {
      display: flex;
      width: 100%;
     }
    .main-block__body {
      display: flex;
     }
    .body-main-block { }
    .body-main-block__content {
      display: flex;
      flex-direction: column;
      max-width: 670px;
      margin-left: 150px;
      margin-top: 335px;
     }
    .contact-main-body { }
    .contact-main-body__capture1 {
      font-family: Public Sans;
      font-weight: 900px;
      font-size: 16px;
      color: #FFFFFF;
     }
    .contact-main-body__capture2 {
      font-family: Outfit, sans serif;
      font-weight: 600px;
      font-size: 64px;
      color: #FFFFFF;
      line-height: 72px;
      margin-top: 16px;
      max-width: 670px;
     }
     span {
      color: #FE461C;
     }
    .contact-main-body__text {
      max-width: 521px;
      font-family: Public Sans;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      line-height: 30px;
      margin-top: 31px;
     }
    .contact-main-body__buttons{
      display: flex;
      flex-direction: row;
      gap: 23px;
      margin-top: 36px;
    }
    .buttons-main-body__button1 {
      font-family: Outfit, sans serif;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      font-style: normal;
      color: #FFFFFF;
      background-color: #FE461C;
      width: 160px;
      height: 50px;
      padding-left: 29px;
      padding-right: 29px;
      border-radius: 4px;
      border: none;
     }
    .buttons-main-body__button2 {
      font-family: Outfit, sans serif;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      font-style: normal;
      color: #FFFFFF;
      background-color: #1F2235;
      width: 160px;
      height: 50px;
      padding-left: 29px;
      padding-right: 29px;
      border-radius: 4px;
      border-color: #FFFFFF;
     }
    .body-main-block__picture {
      margin-top: 242px;
      z-index: 1;
     }
    .body-main-block__elipse { }
    .body-main-block__socials { }
    .socials-main-block { }
    .socials-main-block__items { }


    /* -------------------------------------- */

    .paige__bio {
      
     }
    .bio-block {
      width: 100%;
      background-color: #24263B;
     }
    .bio-block__container {
      min-height: 833px;
     }
    .bio-block__body {
      display: flex;
      padding-top: 163px;
      gap: 60px;
      margin-left: 150px;
      justify-content: center;
     }
    .body-bio-block {
     }
    .body-bio-block__picture {
      margin-top: 108px;
     }
    .body-bio-block__data {

     }
    .data-bio { }
    .data-bio__title1 {
      color: rgb(255, 255, 255);
      font-family: Outfit;
      font-size: 16px;
      font-weight: 600;
      line-height: 12px;
      letter-spacing: 15%;
      text-transform: capitalize;
     }
     .data-bio__title2 {
      margin-top: 31px;
      color: rgb(255, 255, 255);
      font-family: Outfit;
      font-size: 36px;
      font-weight: 600;
      line-height: 48px;
      letter-spacing: 0%;
      text-align: left;
     }

    .data-bio__text {
      max-width: 524px;
      color: rgb(255, 255, 255);
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: left;
     }
    .data-bio__table {
      margin-top: 20px;
      border-spacing: 5px 40px;
     }
     .table-bio__title {
      color: rgb(255, 255, 255);
      font-family: Outfit;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: left;
     }
     .table-bio__info {
      color: rgb(255, 255, 255);
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: 0%;
      text-align: left;
    }
    .data-bio__button {
      margin-top: 38px;
      font-family: Outfit, sans serif;
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      font-style: normal;
      color: #FFFFFF;
      background-color: #FE461C;
      height: 50px;
      padding-left: 29px;
      padding-right: 29px;
      border-radius: 4px;
      border: none;
     }

    /* -------------------------------------- */


.paige__portfolio { }
.portfolio-block {
   background-color: #1F2235;
   width: 100%;
   height: 100%;
   align-items: center;
   align-content: center;
   justify-content: center;
   overflow: auto;
   align-items: center;
 }
.portfolio-block__container {
   display: flex;
   width: 100%;
   height: 100%;
   align-items: center;
   align-content: center;
   justify-content: center;
   overflow: auto;
   flex-wrap: wrap;
 }
.portfolio-block__body {
   margin-top: 120px;

 }
.body-portfolio { }
.body-portfolio__title1 {
   color: rgb(255, 255, 255);
   font-family: Outfit;
   font-size: 16px;
   font-weight: 600;
   line-height: 12px;
   letter-spacing: 15%;
   text-align: center;
   text-transform: capitalize;
 }
 .body-portfolio__title2 {
   margin-top: 17px;
   color: rgb(255, 255, 255);
   font-family: Outfit;
   font-size: 36px;
   font-weight: 700;
   line-height: 48px;
   letter-spacing: 0%;
   text-align: center;
 }
.body-portfolio__nav {
   margin-top: 54px;
   margin-bottom: 36px;
}
.nav-bar {}
.nav-bar__menu {
   display: flex;
   flex-direction: row;
   gap: 20px;
 }
.menu-list { 
   display: flex;
   width: 100%;
   margin: 0 auto;
   justify-content: center;
}
.menu-list__item {
   color: rgb(255, 255, 255);
   font-family: Montserrat;
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   letter-spacing: 0%;
   text-align: left;
   
 }
.body-portfolio__galery {
   max-width: 1320px;
   width: 100%;
   display:flex;
   flex-wrap: wrap;
   gap: 24px;
   margin-bottom: 120px;
 }
.galery-item2__block {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   margin-left: 30px;
}
.galery-portfolio { }
.galery-portfolio__item {
   justify-content: left;
 }
.galery-item { }
.galery-item__image { }
.galery-item__title2 {
   margin-bottom: 15px;
   color: rgb(255, 255, 255);
   font-family: Montserrat;
   font-size: 24px;
   font-weight: 600;
   line-height: 30px;
   letter-spacing: 0%;
   text-align: left;
 }
.galery-item__text2 {
   margin-bottom: 28px;
   color: rgb(255, 255, 255);
   font-family: Poppins;
   font-size: 16px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: 0%;
   text-align: left;
 }

.galery-item1{
   width: 424px;
   height: 260px;
   background-color: #D9D9D9;
   border-radius: 8px;
   margin-bottom: 24px;
}
.galery-item2{
   width: 424px;
   height: 544px;
   background-color: #D9D9D9;
   border-radius: 8px;
   margin-bottom: 24px;
   display: flex;
   align-items: flex-end;
   
}
.galery-item3{
   width: 424px;
   height: 260px;
   background-color: #D9D9D9;
   border-radius: 8px;
   margin-bottom: 24px;
}
.galery-item4{
   width: 424px;
   height: 544px;
   background-color: #D9D9D9;
   border-radius: 8px;
}
.galery-item5{
   width: 424px;
   height: 260px;
   background-color: #D9D9D9;
   border-radius: 8px;
}
.galery-item6{
   width: 424px;
   height: 544px;
   background-color: #D9D9D9;
   border-radius: 8px;
}